extends layout
block head
block body
	.container
		h3.text-center=item.title
		p.text-center
			img(width="90%",src="#{item.img}",alt="#{item.title}")
		p.text-left
			dl.dl-horizontal
				dt code
				dd=item.code
				dt time
				dd=item.time+"mins"
				dt maker
				dd=item.maker
				dt date
				dd=item.date
				dt tags
				dd
					-var tags=item.tag.split(",")
						each tag in tags
							-var t=encodeURI(tag)
							span.badge(style="cursor:pointer;",onclick="window.open('/?t=#{t}')")=tag
							span &nbsp;
				dt source
				dd
					a(href="#{item.url}",target="_blank")=item.url
				dt download
				dd
					a(href="#{searchBase}#{item.code}",target="_blank") search for #{item.code}
		//判断是否有预览图然后生成预览图
		if item.pre
			h4.text-center preview
			-var pres=item.pre.split(",")
			each pre in pres
				p.text-center
					img(width="80%",src="#{pre}",alt="#{item.title}")