extends layout
block head
	link(rel='stylesheet', href='/css/index.css')
	script(src="/js/jquery.lazyload.min.js")
	script(src="/js/indexready.js")
block body
	//rss按钮
	.rss#rss1(data-title="bango")
	.rss#rss2(data-title="bango-mo")
	//TOP按钮
	button#to-top.button-small.button.button-glow.button-circle.button-action.button-jumbo TOP
	.container
		form.form-horizontal.search(onsubmit="$('#search').click()")
			.form-group
				.col-sm-8.col-sm-offset-1.col-xs-12
					input.form-control(value="#{query}",id="query",placeholder="space to separate")
				.col-sm-2.col-sm-offset-0.col-xs-12
					input.btn.btn-default.btn-block#search(type="button",value="search")
	.waterfall
		each item in items
			.movie-box.thumbnail.hide(data-detail="/detail/#{item.code}")
					img.lazyload(data-original="#{item.img}",src="/img/loading.gif")
					.caption
						h4=item.title
							span.small=item.date
							//标注有码
							if item.pre
								br
								span.badge mosaic